<!DOCTYPE html>
<html>
<head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="development.css" rel="stylesheet" type="text/css">
    <title>Altchog</title>
</head> 
<body>
    <header>
        <h1>Email</h1>
        <a href="">Prints Lib</a>
        <a href="">Music Lib</a>      
        <a href="">Models Lib</a>
        <a href="">Archetype</a>
    </header>

    <div class="content">
        <h3>Altchog Presents</h3>
        <h2>Two Days Ahead</h2>
        <a href="hen.png" download>Download</a>
        <h1>Now!</h1>
    </div>

    

    <footer>
        <h1>Email</h1>
        <a href="">Prints Lib</a>
        <a href="">Music Lib</a>
        <a href="">Models Lib</a>
        <a href="">Archetype</a>

    </footer>       
</body>
</html>